<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>MDImporter</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.openbabel.gpr</string>
				<string>net.sourceforge.openbabel.mol2</string>
				<string>net.sourceforge.openbabel.xyz</string>
				<string>net.sourceforge.openbabel.pdb</string>
				<string>net.sourceforge.openbabel.cml</string>
				<string>net.sourceforge.openbabel.mdl</string>
  			<string>com.gaussian.cube</string>
   			<string>com.gaussian.output</string>
  			<string>com.gaussian.fchk</string>
				<string>com.cambridgesoft.cdx</string>
				<string>com.cambridgesoft.cdxml</string>
				<string>net.sourceforge.openbabel.smiles</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>ChemSpotlight</string>
	<key>CFBundleIconFile</key>
	<string>Babel.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.openmolecules.chemspotlight</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>2E041D72-191A-4942-8D63-C80521A210A0</key>
		<string>MetadataImporterPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>8B08C4BF-415B-11D8-B3F9-0003936726FC</key>
		<array>
			<string>2E041D72-191A-4942-8D63-C80521A210A0</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>UTImportedTypeDeclarations</key>
	<array>
	<dict>
		<key>UTTypeConformsTo</key>
 			<array>
 				<string>public.data</string>
 			</array>
 			<key>UTTypeDescription</key>
 			<string>Gaussian CUBE File</string>
 			<key>UTTypeIdentifier</key>
 			<string>com.gaussian.cube</string>
 			<key>UTTypeTagSpecification</key>
 			<dict>
 				<key>public.filename-extension</key>
 				<array>
 					<string>cub</string>
    			<string>cube</string>
 				</array>
 			</dict>
 		</dict>
 		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
 			</array>
 			<key>UTTypeDescription</key>
 			<string>Gaussian Output</string>
 			<key>UTTypeIdentifier</key>
 			<string>com.gaussian.output</string>
 			<key>UTTypeTagSpecification</key>
 			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>g98</string>
					<string>g03</string>
					<string>g09</string>
 				</array>
 			</dict>
 		</dict>
 		<dict>
			<key>UTTypeConformsTo</key>
 			<array>
 				<string>public.plain-text</string>
 				<string>public.text</string>
 			</array>
 			<key>UTTypeDescription</key>
 			<string>Gaussian FCHK file</string>
 			<key>UTTypeIdentifier</key>
 			<string>com.gaussian.fchk</string>
 			<key>UTTypeTagSpecification</key>
 			<dict>
 				<key>public.filename-extension</key>
 				<array>
 					<string>fchk</string>
 				</array>
 			</dict>
 		</dict>
 		<dict>
			<key>UTTypeConformsTo</key>
 			<array>
 				<string>public.plain-text</string>
 				<string>public.text</string>
 			</array>
 			<key>UTTypeDescription</key>
 			<string>Gaussian03 Input</string>
 			<key>UTTypeIdentifier</key>
 			<string>com.gaussian.input</string>
 			<key>UTTypeTagSpecification</key>
 			<dict>
 				<key>public.filename-extension</key>
 				<array>
 					<string>gjf</string>
      		<string>gzmat</string>
 				</array>
 			</dict>
 		</dict>
 		<dict>
 			<key>UTTypeConformsTo</key>
 			<array>
 				<string>public.plain-text</string>
 				<string>public.text</string>
 			</array>
 			<key>UTTypeDescription</key>
 			<string>GAMESS Output</string>
 			<key>UTTypeIdentifier</key>
 			<string>net.sourceforge.openbabel.gamout</string>
 			<key>UTTypeTagSpecification</key>
 			<dict>
 				<key>public.filename-extension</key>
 				<array>
 					<string>gamess</string>
 					<string>gamout</string>
 				</array>
 			</dict>
 		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ghemical project</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.gpr</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gpr</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-ghemical-project</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sybyl Mol2 document</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.mol2</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mol2</string>
					<string>ml2</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-mol2</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XYZ molecule document</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.xyz</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xyz</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-xyz</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Protein Databank document</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.pdb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pdb</string>
					<string>ent</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-pdb</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MDL Molfile document</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.mdl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mdl</string>
					<string>mol</string>
					<string>sdf</string>
					<string>sd</string>
				</array>
        <key>com.apple.ostype</key>
        <array>
          <string>mMOL</string>
          <string>m300</string>
          <string>MDL~</string>
        </array>
				<key>public.mime-type</key>
				<string>chemical/x-molfile</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Chemical Markup Language document</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.cml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cml</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-cml</string>
			</dict>
		</dict>
    <dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CS ChemDraw XML Drawing</string>
			<key>UTTypeIdentifier</key>
			<string>com.cambridgesoft.cdxml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>CdxM</string>
				<key>public.filename-extension</key>
				<array>
					<string>cdxml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CS ChemDraw Drawing</string>
			<key>UTTypeIdentifier</key>
			<string>com.cambridgesoft.cdx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>CHMS</string>
				<key>public.filename-extension</key>
				<array>
					<string>cdx</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-cdx</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Daylight SMILES document</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.smiles</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>net.sourceforge.openbabel.ostype</key>
				<string>SMILESfile</string>
				<key>public.filename-extension</key>
				<array>
					<string>smiles</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-daylight-smiles</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
