<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>MDImporter</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.openbabel.gpr</string>
				<string>net.sourceforge.openbabel.mol2</string>
				<string>net.sourceforge.openbabel.xyz</string>
				<string>net.sourceforge.openbabel.pdb</string>
				<string>net.sourceforge.openbabel.cml</string>
				<string>net.sourceforge.openbabel.mdl</string>
				<string>net.sourceforge.openbabel.cdx</string>
				<string>net.sourceforge.openbabel.cdxml</string>
				<string>net.sourceforge.openbabel.smiles</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>ChemSpotlight</string>
	<key>CFBundleIconFile</key>
	<string>Babel</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.openbabel.MDImporter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>1.2.0</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>2E041D72-191A-4942-8D63-C80521A210A0</key>
		<string>MetadataImporterPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>8B08C4BF-415B-11D8-B3F9-0003936726FC</key>
		<array>
			<string>2E041D72-191A-4942-8D63-C80521A210A0</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ghemical Project</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.gpr</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>net.sourceforge.openbabel.ostype</key>
				<string>GPRfile</string>
				<key>public.filename-extension</key>
				<array>
					<string>gpr</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-ghemical-project</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sybyl Mol2 document</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.mol2</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>net.sourceforge.openbabel.ostype</key>
				<string>Mol2file</string>
				<key>public.filename-extension</key>
				<array>
					<string>mol2</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-mol2</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XYZ Molecule document</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.xyz</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>net.sourceforge.openbabel.ostype</key>
				<string>XYZfile</string>
				<key>public.filename-extension</key>
				<array>
					<string>xyz</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-xyz</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Protein Databank document</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.pdb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>net.sourceforge.openbabel.ostype</key>
				<string>XYZfile</string>
				<key>public.filename-extension</key>
				<array>
					<string>pdb</string>
					<string>ent</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-pdb</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MDL Molfile document</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.mdl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>net.sourceforge.openbabel.ostype</key>
				<string>MDLfile</string>
				<key>public.filename-extension</key>
				<array>
					<string>mdl</string>
					<string>mol</string>
					<string>sdf</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-molfile</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Chemical Markup Language document</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.cml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>net.sourceforge.openbabel.ostype</key>
				<string>CMLfile</string>
				<key>public.filename-extension</key>
				<array>
					<string>cml</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-cml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ChemDraw document</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.cdx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>net.sourceforge.openbabel.ostype</key>
				<string>CDXfile</string>
				<key>public.filename-extension</key>
				<array>
					<string>cdx</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-cdx</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ChemDraw XML document</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.cdxml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>net.sourceforge.openbabel.ostype</key>
				<string>CDXMLfile</string>
				<key>public.filename-extension</key>
				<array>
					<string>cdxml</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-cdxml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Daylight SMILES document</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.smiles</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>net.sourceforge.openbabel.ostype</key>
				<string>SMILESfile</string>
				<key>public.filename-extension</key>
				<array>
					<string>smiles</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-daylight-smiles</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
